body { 
    background-color: #fff; color: #333; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}


a { color: #000; }
a:visited { color: #666; }
a:hover { color: #999; }

.errorExplanation {
    background: #a97;
}

.fieldWithErrors {
    background: #a97;
}
