<h2>Courses</h2>
<% @categories.each do |category| %>
    <h3><%= category.name %></h3>
    <ul>
        <% category.courses.each do |c| %>
            <li><%= link_to c.name, c %></li>
        <% end %>
    </ul>
<% end %>

<%= link_to 'New course', new_course_path %>
