<h2><%= @course.name %></h2>
<p><%= @course.description %></p>
<ul>
    <% @course.course_instances.each do |ci| %>
        <li><%= link_to ci.name, course_course_instance_url(@course, ci) %></li>
    <% end %>
</ul>

<p>
<%= link_to 'Back', courses_path %>
</p>

